html body {
    text-align: center;
    font-family: 'Playfair Display', serif;

}

.pageTitle {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    padding-top: 30px;
}

.subTitle {
    font-size: 24px;
}

.introduction {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    max-width: 650px;
    /* 任意の幅で整える */
    padding-left: 3.5em;
    font-size: 18px;
}

/* .skills {} */

.skillTitle {
    font-size: 18px;
    left: 0;
    text-align: left;
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
}

.padding {
    padding-left: 20px;
    padding-top: 15px;
    font-size: 18px;
    font-style: italic;
}

/* .about {} */

.aboutTitle {
    padding-top: 15px;
    font-size: 24px;
    font-weight: bold;
}


.aboutDescription {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    max-width: 650px;
    /* 任意の幅で整える */
    padding-left: 3.5em;
    font-size: 18px;
}

.theme {
    font-size: 22px;
    font-weight: bold;
}

.myCore {
    font-size: 18px;
    transition: 2s all ease;
}

.numImg {
    width: 90px;
    height: auto;
    padding-top: 30px;

}

.myPicture {
    width: 300px;
    height: auto;
    padding-top: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 10px;
    padding: 0% 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    background-color: rgb(200, 179, 206);
}

header a {
    font-weight: bold;
    display: inline-block;
    margin: 0 20px;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

body {
    padding-top: 100px;
}

.site-footer {
    padding-top: 100px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.social {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px
}

.logoNum {
    font-family: cursive;
    font-weight: bold;
    outline: black solid 4px;
    border-radius: 100%;
    height: 100%;
    margin-bottom:0 ;
    margin-top: 40px;
    margin-right: 47%;
    margin-left: 47%;
}

/* .fadeIn {
    animation: fadeIn 1s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.fadeIn.visiable {
    animation-play-state: running;
    animation-delay: 0s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
 */
