.backGround{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    margin-bottom: 10px; 
    padding: 0% 16px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow:  0 2px 8px rgba(0,0,0,0.5);
    background-color: rgb(200, 179, 206);
    font-size: 18px;
}

header a{
    font-weight: bold;
    display: inline-block;
    margin: 0 20px;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

body {
    padding-top: 100px; 
}



.site-footer {
    padding-top: 100px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.social {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px
}

html body {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    line-height: 1.7;
    color: #222;
}

.contactCard {
    text-align: center;
    align-items: center;
    padding: 20px 10px;
    outline:black 5px solid;
    left: 0;
    top: 0;
    margin-right: 10rem;
    margin-left: 10rem;
    height: auto;
    width: auto;
    border-radius: 10px;
}

.contactDiscription {
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 10px;
}

.contactBtn {
    margin-top: 20px;
    width: auto;
    height: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 20px 15px ;
    border-radius: 30px;
    cursor: pointer;
}

section {
    padding: 40px 0;
    align-items: center;
    justify-content: center;
}

.site-header {
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    z-index: 100001;
    background: transparent; /* 必要に応じて色を指定 */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}